#!/bin/sh
set -uxo pipefail
{{ if eq .chezmoi.os "darwin" -}}
{{ if eq .chezmoi.arch "arm64" -}}
eval $(/opt/homebrew/bin/brew shellenv)
{{- end -}}
## Install cmake openssl, pkg-config for sheldon and starship
brew install cmake
brew install openssl
brew install pkg-config

{{- else if eq .chezmoi.os "linux" }}
{{- if eq .chezmoi.osRelease.id "fedora" }}
## Fedora
## Install zsh, cc, cmake, openssl, pkg-config
sudo dnf -y install zsh
sudo dnf -y install gcc
sudo dnf -y install cmake
sudo dnf -y install pkgconfig
sudo dnf -y install openssl-devel

chsh -s /bin/zsh
{{- end -}}
{{- end }}
