{{- if eq .chezmoi.os "darwin" }}
#!/bin/zsh
set -uxo pipefail
if [ ! $(command -v brew) ]; then
	xcode-select --install
	/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi
{{- end }}
