## Locale
export LANGUAGE="en_US.UTF-8"
export LANG="$LANGUAGE"
export LC_ALL="$LANGUAGE"
export LC_CTYPE="$LANGUAGE"


{{- if eq .chezmoi.os "darwin" }}
{{- if eq .chezmoi.arch "arm64" }}
eval $(/opt/homebrew/bin/brew shellenv)
{{- end }}
{{- end }}


## Editor
EDITOR="$(
  command -v -- emacs ||
  command -v -- vim ||
  command -v -- vi
)"
if test -n "${EDITOR}"; then
	export EDITOR
fi


## Path
export XDG_CONFIG_HOME="${HOME}/.config"
export XDG_CACHE_HOME="${HOME}/.cache"
export XDG_DATA_HOME="${HOME}/.local/share"
export XDG_STATE_HOME="${HOME}/.local/state"


## zsh
ZDOTDIR="${XDG_CONFIG_HOME}/zsh"
HISTFILE="${ZDOTDIR}/.zsh_history"


## Starship
export STARSHIP_CONFIG="${XDG_CONFIG_HOME}/starship/starship.toml"


## WezTerm
export WEZTERM_CONFIG_FILE="${XDG_CONFIG_HOME}/wezterm/wezterm.lua"


## Docker
export DOCKER_CONFIG="${XDG_CONFIG_HOME}/docker"
export PATH="$PATH:${DOCKER_CONFIG}/bin"


## Go
export GOPATH="${XDG_DATA_HOME}/go"
export PATH="$PATH:${GOPATH}/bin"


## Rust
export RUSTUP_HOME="${XDG_DATA_HOME}/rustup"
export CARGO_HOME="${XDG_DATA_HOME}/cargo"
export PATH="$PATH:${CARGO_HOME}/bin"

{{ if eq .chezmoi.os "darwin" }}
## Java
JAVA_HOME="$(/usr/libexec/java_home)"
if test -n "${JAVA_HOME}"; then
        export JAVA_HOME
fi
{{ end }}
