abbr emc="emacsclient -c -a ''"
abbr kemc="emacsclient -e '(kill-emacs)'"

abbr kube="kubectl"
abbr kubea="kubectl apply -f"
abbr kubed="kubectl delete -f"
abbr kubeg="kubectl get"
abbr kubel="kubectl logs -f"

abbr g="git"
abbr ga="git add"
abbr gap="git add -p"
abbr gb="git branch"
abbr gba="git branch -a"
abbr gbd="git branch -D"
abbr gcle="git clean -df"
abbr gcl="git clone"
abbr gcm="git commit -m"
abbr gco="git checkout"
abbr gd="git diff"
abbr gf="git fetch"
abbr gl="git log"
abbr glg="git log --graph"
abbr glo="git log --oneline"
abbr gpl="git pull"
abbr gph="git push"
abbr grs="git restore"
abbr gs="git status"
abbr gst="git stash --include-untracked"
abbr gstp="git stash pop"
abbr gsw="git switch"
abbr gswc="git switch -c"

abbr dcd="docker compose down -v"
abbr dcu="docker compose up -d"
abbr dps="docker ps -a"
abbr dr="docker rm"

{{ if eq .chezmoi.os "darwin" -}}
abbr brw="brew"
abbr brwar="brew autoremove"
abbr brwi="brew install"
abbr brwl="brew list"
abbr brws="brew search"
abbr brwun="brew uninstall"
abbr brwup="brew upgrade"
abbr brwuc="brew upgrade --cask --greedy"
{{ end -}}
