[Unit]
Description=xremap

[Service]
KillMode=process
ExecStart=/usr/local/bin/xremap --watch=config /home/granddaifuku/.config/xremap/config.yml
Type=simple
Restart=always
User=root
Group=root

[Install]
WantedBy=default.target
